@import "general.css";

/*--- TOP  ---*/
header h1 {
  color: white;
  padding: 0.5rem 1rem;
}
header {
  /* position: fixed;
  top: 0; */
  width: 100%;
}
nav ul {
  text-align: center;
  padding: 0rem 1rem;
}
nav ul li {
  padding: 0.3rem;
}
nav ul li:first-child,
nav ul li:nth-child(2) {
  border-bottom: 1px solid white;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:active,
a:hover,
#nav-home,
#nav-menu,
#nav-contact {
  color: var(--accent-color);
}

section {
  margin: 1.2rem 1rem 5rem;
}

/*--- HOME SECTION ---*/
#home ul li {
  color: var(--primary-color);
  font-weight: bold;
}
#home p {
  text-align: justify;
}

.image {
  margin: 0 0 0.8rem 0;
}

blockquote {
  background-color: lightgrey;
  margin: 1rem 0 1rem 2rem;
  padding: 1rem;
}
blockquote p {
  margin-bottom: 1rem;
}
cite {
  font-style: normal;
  padding-left: 0.8rem;
}

ul.qualities {
  margin: auto 1rem;
}

ul.qualities li {
  margin: 0.5rem;
}

/*--- MENU SECTION ---*/
#menu {
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
}
.container {
  background-color: lightyellow;
  border: 1px black solid;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  text-align: justify;
}
.container * {
  margin: 0.5rem 0;
}

.price {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: 0.3rem solid var(--secondary-color);
  width: max-content;
  padding: 3px;
}

/*--- CONTACT SECTION ---*/
figure {
  border: 1px black solid;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}
.phone-no {
  margin: 1rem 0;
}
.phone-no a {
  font-weight: bold;
  color: black;
}
fieldset {
  padding: 1rem;
}
fieldset * {
  display: block;
}
fieldset button {
  margin: 0.5rem 1rem;
}
.field {
  margin: 0 0 0.5rem 0;
  display: block;
}
.info {
  margin: 1rem 0 0 0;
}

/*--- FOOTER SECTION ---*/
footer {
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 699px) {
  nav ul {
    /* display: block ruby; */
    display: -webkit-inline-box;
    text-align: inherit;
  }

  nav ul li:first-child,
  nav ul li:nth-child(2) {
    border-bottom: unset;
  }

  fieldset * {
    display: inline-block;
  }
  label {
    width: 8rem;
  }
  .info {
    width: 100px;
  }
  .info label {
    width: 10rem;
  }
  .info textarea {
    width: 500px;
  }
}

@media (min-width: 949px) {
  #home,
  .container,
  #contact {
    display: block;
  }
  .image,
  .container img,
  figure {
    float: right;
  }

  /*--- HOME SECTION ---*/
  .image {
    width: 35%;
  }

  #text-container {
    width: 63%;
  }

  /*--- MENU SECTION ---*/
  .container {
    height: 300px;
  }
  .container img {
    width: 30%;
    margin-top: 0;
  }
  .dish-text {
    width: 65%;
  }

  /*--- CONTACT SECTION ---*/
  figure {
    width: 40%;
  }
  .col-left {
    width: 58%;
  }
  .info textarea {
    width: 540px;
  }
}

@media (min-width: 1499px) {
  /*--- MENU SECTION ---*/
  #menu {
    padding: 0 29vw 0;
  }
  .container {
    width: 800px;
  }
  .container img {
    width: 45%;
  }
  .dish-text {
    width: 52%;
  }
}
